<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'dashboard.bundles.heading'|trans({}, 'SystemInformationBundle') }}
        </h3>
    </div>
    <div class="panel-body">
        {{ 'dashboard.bundles.description'|trans({'bundlesCount': bundles|length}, 'SystemInformationBundle')|raw }}
        <a class="collapse-btn" data-toggle="collapse" href="#bundles" role="button" aria-expanded="false" aria-controls="bundles">
            {{ 'dashboard.bundles.collapse'|trans({'bundlesCount': bundles|length}, 'SystemInformationBundle')|raw }}
        </a>
        <div class="collapse" id="bundles">
            <table class="table table-condensed">
                {% for key, value in bundles %}
                    <tr>
                        <td>{{ key }}</td>
                        <td style="font-family: monospace, monospace;">{{ value }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>