<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'dashboard.dependencies.heading'|trans({}, 'SystemInformationBundle') }}
        </h3>
    </div>
    <div class="panel-body">
        {{ 'dashboard.dependencies.description'|trans({'composerFilePath': composerFilePath}, 'SystemInformationBundle')|raw }}
        <form id="dependency-filter-form" class="mb-15 form-item">
            <div class="item m-10 system-results">
                <strong>{{ dependencies|length|number_format(0, ',', '.') }}</strong> {{ 'dashboard.dependencies.list.results'|trans({}, 'SystemInformationBundle') }}
            </div>
            <div class="item form-item m-10">
                <label for="dependency-filter-form-search" class="mr-5">
                    {{ 'dashboard.dependencies.filter.search'|trans({}, 'SystemInformationBundle') }}
                </label>
                <input type="text" id="dependency-filter-form-search" class="mw-200 form-control"
                       value="{{ app.request.get('search') }}" name="search"/>
            </div>
            <div class="item form-item m-10">
                <label for="dependency-filter-form-updatable"
                       class="mr-5">{{ 'dashboard.dependencies.filter.updatable'|trans({}, 'SystemInformationBundle') }} ({{ status.distribution.2|length + status.distribution.3|length + status.distribution.4|length}})</label>
                <input type="checkbox" name="updatable" id="dependency-filter-form-updatable" value="1"
                        {{ showOnlyUpdatable ? 'checked' : '' }}/>
            </div>
            <div class="item form-item m-10">
                <label for="dependency-filter-form-required"
                       class="mr-5">{{ 'dashboard.dependencies.filter.required'|trans({}, 'SystemInformationBundle') }} ({{ status.distribution.required|length}})</label>
                <input type="checkbox" name="required" id="dependency-filter-form-required" value="1"
                        {{ showOnlyRequired ? 'checked' : '' }}/>
            </div>
            <div class="item form-item m-10">
                <button type="submit"
                        class="btn">{{ 'dashboard.dependencies.filter.submit'|trans({}, 'SystemInformationBundle') }}</button>
                <a href="{{ path('kmi_system_information_dependencies') }}"
                   class="btn">{{ 'dashboard.dependencies.filter.reset'|trans({}, 'SystemInformationBundle') }}</a>
                <a href="{{ path('kmi_system_information_dependencies', {'force': 1}) }}"
                   class="btn" title="last updated {{ metadata.created | date('d.m.Y H:i:s') }}">{{ 'dashboard.dependencies.filter.force'|trans({}, 'SystemInformationBundle') }}</a>
            </div>
        </form>
        <table class="table table-condensed">
            <tr>
                <th>
                    {{ 'dashboard.dependencies.list.name'|trans({}, 'SystemInformationBundle') }}
                </th>
                <th>
                    {{ 'dashboard.dependencies.list.version'|trans({}, 'SystemInformationBundle') }}
                </th>
                <th>
                    {{ 'dashboard.dependencies.list.updated'|trans({}, 'SystemInformationBundle') }}
                </th>
                <th>
                    {{ 'dashboard.dependencies.list.description'|trans({}, 'SystemInformationBundle') }}
                </th>
            </tr>
            {% if dependencies %}
                {% for dependency in dependencies %}
                    {% if dependency.status == 1 %}
                        {% set class = 'bg-color-success--light' %}
                    {% elseif dependency.status == 2 %}
                        {% set class = 'bg-color-warning--light' %}
                    {% elseif dependency.status == 3 %}
                        {% set class = 'bg-color-warning' %}
                    {% elseif dependency.status == 4 %}
                        {% set class = 'bg-color-error' %}
                    {% else %}
                        {% set class = '' %}
                    {% endif %}
                    <tr>
                        <td>
                            {% if dependency.homepage is defined and dependency.homepage is not empty %}
                                <a href="{{ dependency.homepage }}" target="_blank" title="{{ dependency.name }}">
                                    {{ dependency.name|highlight(search)|raw }}
                                </a>
                            {% else %}
                                {{ dependency.name|highlight(search)|raw }}
                            {% endif %}
                        </td>
                        <td style="white-space: nowrap">
                        <span class="pill {{ class }}" {{ dependency.requiredVersion is defined ? 'data-toggle="tooltip"' : '' }} title="{{ dependency.requiredVersion is defined ? 'Required version: ' ~ dependency.requiredVersion : '' }}">
                            {{ dependency.version }}
                        </span>
                            {% if dependency.latest != dependency.version %}
                                <span class="pill {{ class }}">
                                {{ dependency.latest }}
                            </span>
                            {% endif %}
                        </td>
                        <td>
                        <span class="pill" style="white-space: nowrap" data-toggle="tooltip"
                              title="{{ 'dashboard.log.list.changed'|trans({}, 'SystemInformationBundle') }}">
                            {{ dependency.time | date('d.m.Y H:i:s') }}
                        </span>
                        </td>
                        <td>
                            {% if dependency.description is defined %}
                                <em>{{ dependency.description }}</em>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center">
                        {{ 'dashboard.dependencies.list.empty'|trans({}, 'SystemInformationBundle') }}
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
</div>