<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ 'dashboard.dependencies.heading'|trans({}, 'SystemInformationBundle') }}
        </h3>
    </div>
    <div class="panel-body">
        {{ 'dashboard.dependencies.description'|trans({}, 'SystemInformationBundle')|raw }}
        <table class="table table-condensed">
            <tr>
                <th>
                    Package name
                </th>
                <th>
                    Installed Version / Latest Version
                </th>
                <th>
                    Description
                </th>
                <th>
                    Updated
                </th>
            </tr>
            {% for dependency in dependencies %}
                <tr>
                    <td>
                        {% if dependency.homepage is defined and dependency.homepage is not empty %}
                            <a href="{{ dependency.homepage }}" target="_blank" title="{{ dependency.name }}">
                                {{ dependency.name }}
                            </a>
                        {% else %}
                            {{ dependency.name }}
                        {% endif %}
                    </td>
                    <td style="white-space: nowrap">
                        <span class="pill">
                            {{ dependency.version }}
                        </span>
                        {% if dependency.latest != dependency.version %}
                            <span class="pill bg-color-warning">
                                {{ dependency.latest }}
                            </span>
                        {% endif %}
                    </td>
                    <td>
                        <span class="pill" style="white-space: nowrap" data-toggle="tooltip" title="{{ 'dashboard.log.list.changed'|trans({}, 'SystemInformationBundle') }}">
                            {{ dependency.time | date('d.m.Y H:i:s') }}
                        </span>
                    </td>
                    <td>
                        {% if dependency.description is defined %}
                            <em>{{ dependency.description }}</em>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>