<ul class="system-nav">
    <li class="nav-item">
        <a class="system-nav-link {{ app.request.attributes.get('_route') == 'kmi_system_information_monitoring' ? 'active' : '' }}"
           href="{{ path('kmi_system_information_monitoring') }}">
            <i class="icon-sib-monitor mr-5"
               aria-hidden="true"></i> {{ 'dashboard.monitoring.nav'|trans({}, 'SystemInformationBundle') }}
        </a>
    </li>
    <li class="nav-item">
        <a class="system-nav-link {{ app.request.attributes.get('_route') == 'kmi_system_information_dependencies' ? 'active' : '' }}"
           href="{{ path('kmi_system_information_dependencies') }}">
            <i class="icon-sib-code mr-5"
               aria-hidden="true"></i> {{ 'dashboard.dependencies.nav'|trans({}, 'SystemInformationBundle') }}
        </a>
    </li>
    <li class="nav-item">
        <a class="system-nav-link {{ app.request.attributes.get('_route') == 'kmi_system_information_log' ? 'active' : '' }}"
           href="{{ path('kmi_system_information_log') }}">
            <i class="icon-sib-info mr-5"
               aria-hidden="true"></i> {{ 'dashboard.log.nav'|trans({}, 'SystemInformationBundle') }}
        </a>
    </li>
    <li class="nav-item">
        <a class="system-nav-link {{ app.request.attributes.get('_route') == 'kmi_system_information_requirements' ? 'active' : '' }}"
           href="{{ path('kmi_system_information_requirements') }}">
            <i class="icon-sib-package mr-5"
               aria-hidden="true"></i> {{ 'dashboard.requirements.nav'|trans({}, 'SystemInformationBundle') }}
        </a>
    </li>
    <li class="nav-item">
        <a class="system-nav-link {{ app.request.attributes.get('_route') == 'kmi_system_information_information' ? 'active' : '' }}"
           href="{{ path('kmi_system_information_information') }}">
            <i class="icon-sib-layers mr-5"
               aria-hidden="true"></i> {{ 'dashboard.information.nav'|trans({}, 'SystemInformationBundle') }}
        </a>
    </li>
    <li class="nav-item">
        <a class="system-nav-link {{ app.request.attributes.get('_route') == 'kmi_system_information_database' ? 'active' : '' }}"
           href="{{ path('kmi_system_information_database') }}">
            <i class="icon-sib-database mr-5"
               aria-hidden="true"></i> {{ 'dashboard.database.nav'|trans({}, 'SystemInformationBundle') }}
        </a>
    </li>
    <li class="nav-item">
        <a class="system-nav-link {{ app.request.attributes.get('_route') == 'kmi_system_information_mail' ? 'active' : '' }}"
           href="{{ path('kmi_system_information_mail') }}">
            <i class="icon-sib-send mr-5"
               aria-hidden="true"></i> {{ 'dashboard.mail.nav'|trans({}, 'SystemInformationBundle') }}
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle system-nav-link" href="#" role="button" id="system-nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="icon-sib-more-vertical mr-5"
               aria-hidden="true"></i> Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="system-nav-dropdown">
            <a class="dropdown-item no-border" href="{{ path('kmi_system_information_clearcache', {'redirect': app.request.attributes.get('_route')}) }}"><i class="icon-sib-zap text-muted mr-5"></i> Clear cache</a>
        </div>
    </li>
</ul>