{% extends 'bundles/SonataAdminBundle/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/systeminformation/css/base.css') }}">
{% endblock %}

{% block sonata_page_content_header %}
    <div class="page-header">
        <h2>{{ 'dashboard.general.heading'|trans({}, 'SystemInformationBundle') }}</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        {% for info in information %}
            <div class="col-md-6 col-lg-4 col-xl-2">
                <div class="system-box">
                    <div>
                        <i class="{{ info.icon }} {{ info.class is defined ? info.class }}"></i>
                    </div>
                    <div>
                        <h4><strong>{{ info.value }}</strong></h4>
                        <h5 class="mb-2 text-muted">{{ info.description }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
    <div class="col-md-12 col-xl-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="icon-monitor mr-5" aria-hidden="true"></i> {{ 'dashboard.monitoring.heading'|trans({}, 'SystemInformationBundle') }}
                </h3>
            </div>
            <div class="panel-body">
                {{ 'dashboard.monitoring.description'|trans({}, 'SystemInformationBundle')|raw }}
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">{{ 'dashboard.monitoring.table.check'|trans({}, 'SystemInformationBundle') }}</th>
                        <th scope="col">{{ 'dashboard.monitoring.table.description'|trans({}, 'SystemInformationBundle') }}</th>
                    </tr>
                    </thead>
                    {% for check in checks %}
                        {% if check.status == 0 %}
                            {% set context = 'success' %}
                        {% elseif check.status == 1 %}
                            {% set context = 'warning' %}
                        {% elseif check.status == 2 %}
                            {% set context = 'danger' %}
                        {% elseif check.status == 3 %}
                            {% set context = 'danger' %}
                        {% else %}
                            {% set context = 'light' %}
                        {% endif %}
                        <tr class="table-{{ context }}">
                            <th>{{ check.checkName }}</th>
                            <td>{{ check.message }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="icon-info mr-5" aria-hidden="true"></i> {{ 'dashboard.log.heading'|trans({}, 'SystemInformationBundle') }}
                </h3>
            </div>
            <div class="panel-body">
                {{ 'dashboard.log.description'|trans({'logDir': logDir}, 'SystemInformationBundle')|raw }}
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>
                                {{ 'dashboard.log.table.name'|trans({}, 'SystemInformationBundle') }}
                            </th>
                            <th>
                                {{ 'dashboard.log.table.anomalies'|trans({}, 'SystemInformationBundle') }}
                            </th>
                            <th>
                                {{ 'dashboard.log.table.changed'|trans({}, 'SystemInformationBundle') }}
                            </th>
                            <th>
                                {{ 'dashboard.log.table.size'|trans({}, 'SystemInformationBundle') }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>
                                {% if log['readable'] %}
                                    <a href="{{ path('kmi_system_information_log_view', {'id':log['log'].id}) }}">{{ log['log'].name }}</a>
                                {% else %}
                                    {{ log['log'].name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if log['warningCountByPeriod'] > 0 %}
                                    <span class="color-warning mr-5">
                                        {{ log['warningCountByPeriod'] }} <i class="icon-alert-triangle" aria-hidden="true"></i>
                                    </span>
                                {% endif %}
                                {% if log['errorCountByPeriod'] > 0 %}
                                    <span class="color-error">
                                        {{ log['errorCountByPeriod'] }} <i class="icon-alert-circle" aria-hidden="true"></i>
                                    </span>
                                {% endif %}
                            </td>
                            <td>
                                <span class="label label-default">{{ log['log'].mtime|format_datetime() }}</span>
                            </td>
                            <td>
                                <span class="badge badge-pill badge-info">{{ log['size'] }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="icon-layers mr-5" aria-hidden="true"></i> {{ 'dashboard.information.heading'|trans({}, 'SystemInformationBundle') }}
                </h3>
            </div>
            <div class="panel-body">
                {{ 'dashboard.information.description'|trans({'phpInfoPath': path('kmi_system_information_info')}, 'SystemInformationBundle')|raw }}
                <table class="table table-condensed">
                    {% for key, info in infos %}
                        <tr>
                            <td><strong>{{ key }}</strong></td>
                            <td>{{ info }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}