<div>
    <p class="m-10">
        {{ 'extension.indicator.description'|trans({'infoPath': path('kmi_system_information_monitoring')}, 'SystemInformationBundle')|raw }}
    </p>
    <table class="table mb-0">
        {% for info in information %}
            <tr>
                <td>
                    <i class="{{ info.icon }} {{ info.class is defined ? info.class }} text-muted mr-5"></i> {{ info.description }}
                </td>
                <td>
                    {{ info.value }}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="2">
                <i class="icon-zap text-muted mr-5"></i> <a id="system-indicator-extension--clear-cache" href="{{ path('kmi_system_information_clearcache', {'redirect': app.request.attributes.get('_route')}) }}">Clear cache</a>
                <div id="system-indicator-extension--clear-cache--spinner">
                    <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>