{% extends '@SystemInformationBundle/layouts/main_layout.html.twig' %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ 'viewer.detail.heading'|trans({}, 'SystemInformationBundle') }}
            </h3>
        </div>
        <div class="panel-body" style="overflow: auto">
            <form id="log-filter-form" class="mb-15 form-item">
                <div class="item m-10">
                    <a href="{{ path('kmi_system_information_log') }}">
                        {{ 'viewer.detail.back'|trans({}, 'SystemInformationBundle') }}
                    </a>
                </div>
                <div class="item m-10 system-results">
                    <strong>{{ resultCount|number_format(0, ',', '.') }}</strong> {{ 'viewer.list.results'|trans({}, 'SystemInformationBundle') }}
                </div>
                <div class="item form-item m-10">
                    <label for="log-filter-form-limit" class="mr-5">{{ 'viewer.filter.limit'|trans({}, 'SystemInformationBundle') }}</label>
                    <input type="number" id="log-filter-form-limit" class="mw-200 form-control"
                           value="{{ app.request.get('limit')|default(100) }}" name="limit"/>
                </div>
                <div class="item form-item m-10">
                    <label for="log-filter-form-level" class="mr-5">{{ 'viewer.filter.level'|trans({}, 'SystemInformationBundle') }}</label>
                    <select name="level" id="log-filter-form-level" class="mw-200">
                        <option value="">{{ 'viewer.filter.all'|trans({}, 'SystemInformationBundle') }}</option>
                        {% for level in levels %}
                            <option value="{{ level }}" {{ app.request.get('level') == level ? 'selected' : '' }}>{{ level }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="item form-item m-10">
                    <label for="log-filter-form-channel" class="mr-5">{{ 'viewer.filter.channel'|trans({}, 'SystemInformationBundle') }}</label>
                    <select name="channel" id="log-filter-form-channel" class="mw-200">
                        <option value="">{{ 'viewer.filter.all'|trans({}, 'SystemInformationBundle') }}</option>
                        {% for channel in channels %}
                            <option value="{{ channel }}" {{ app.request.get('channel') == channel ? 'selected' : '' }}>{{ channel }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="item form-item m-10">
                    <button type="submit" class="btn">{{ 'viewer.filter.submit'|trans({}, 'SystemInformationBundle') }}</button>
                    <a href="{{ path('kmi_system_information_log_view', {'id':id }) }}" class="btn no-border">{{ 'viewer.filter.reset'|trans({}, 'SystemInformationBundle') }}</a>
                </div>
            </form>
            <table class="table table-condensed table-striped">
                {% if logs %}
                    {% for log in logs %}
                        {% if log.message is not null %}
                            {% if log.level == 'WARNING' %}
                                {% set context = 'warning' %}
                                {% set class = 'bg-color-warning' %}
                            {% elseif log.level == 'ERROR' %}
                                {% set context = 'danger' %}
                                {% set class = 'bg-color-error' %}
                            {% elseif log.level == 'ALERT' %}
                                {% set context = 'danger' %}
                                {% set class = 'bg-color-error' %}
                            {% elseif log.level == 'CRITICAL' %}
                                {% set context = 'danger' %}
                                {% set class = 'bg-color-error' %}
                            {% elseif log.level == 'EMERGENCY' %}
                                {% set context = 'danger' %}
                                {% set class = 'bg-color-error' %}
                            {% else %}
                                {% set context = 'light' %}
                                {% set class = '' %}
                            {% endif %}
                            <tr class="table-{{ context }}">
                                <td>
                                    {% if log.date is not null %}
                                        <span class="pill">{{ log.date }}</span>
                                    {% endif %}
                                </td>
                                <td><span class="pill">{{ log.channel }}</span></td>
                                <td>
                                    <span class="pill {{ class }}">{{ log.level }}</span>
                                </td>
                                <td>{{ log.message }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            {{ 'viewer.list.empty'|trans({}, 'SystemInformationBundle') }}
                        </td>
                    </tr>
                {% endif %}
            </table>
            <div class="text-center">
                <ul class="pagination">
                    {% set page = app.request.get('page')|default(1) %}
                    {% set limit = app.request.get('limit')|default(100) %}
                    {% if page > 1 %}
                        <li>
                            <a href="{{ path('kmi_system_information_log_view', {'id':id , 'limit':app.request.get('limit')|default(100), 'page': page-1, 'level':app.request.get('level') }) }}">‹</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('kmi_system_information_log_view', {'id':id , 'limit':app.request.get('limit')|default(100), 'page': page, 'level':app.request.get('level') }) }}">{{ page }}</a>
                    </li>
                    {% if (page + 1) * limit < resultCount %}
                        <li>
                            <a href="{{ path('kmi_system_information_log_view', {'id':id , 'limit':app.request.get('limit')|default(100), 'page': page+1, 'level':app.request.get('level') }) }}">›</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}