{% extends 'bundles/SonataAdminBundle/standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/systeminformation/css/base.css') }}">
{% endblock %}

{% block sonata_page_content_header %}
    <div class="page-header">
        <h2>Log viewer</h2>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="icon-info mr-5" aria-hidden="true"></i> Log detail
            </h3>
        </div>
        <div class="panel-body">
            <form id="log-filter-form" class="mb-15 form-item">
                <div class="item m-10">
                    <a href="{{ path('kmi_system_information_overview') }}">
                        Back to system overview
                    </a>
                </div>
                <div class="item m-10 log-results">
                    <strong>{{ resultCount|number_format(0, ',', '.') }}</strong> log results
                </div>
                <div class="item form-item m-10">
                    <label for="log-filter-form-limit" class="mr-5">Limit</label>
                    <input type="number" id="log-filter-form-limit" class="mw-200 form-control"
                           value="{{ app.request.get('limit')|default(100) }}" name="limit"/>
                </div>
                <div class="item form-item m-10">
                    <label for="log-filter-form-level" class="mr-5">Level</label>
                    <select name="level" id="log-filter-form-level" class="mw-200">
                        <option value="">ALL</option>
                        {% for level in levels %}
                            <option value="{{ level }}" {{ app.request.get('level') == level ? 'selected' : '' }}>{{ level }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="item form-item m-10">
                    <button type="submit" class="btn">Submit</button>
                    <a href="{{ path('kmi_system_information_log_view', {'id':id }) }}" class="btn">Reset</a>
                </div>
            </form>
            <table class="table table-condensed table-striped">
                {% if logs %}
                    {% for log in logs %}
                    {% if log.message is not null %}
                    {% if log.level == 'WARNING' %}
                        {% set context = 'warning' %}
                    {% elseif log.level == 'ERROR' %}
                        {% set context = 'danger' %}
                    {% elseif log.level == 'ALERT' %}
                        {% set context = 'danger' %}
                    {% elseif log.level == 'CRITICAL' %}
                        {% set context = 'danger' %}
                    {% elseif log.level == 'EMERGENCY' %}
                        {% set context = 'danger' %}
                    {% else %}
                        {% set context = 'light' %}
                    {% endif %}
                    <tr class="table-{{ context }}">
                        <td>
                            <span class="label label-default">
                                {% if log.dateTime is not null %}
                                    {{ log.dateTime|format_datetime() }}
                                {% endif %}
                            </span>
                        </td>
                        <td>{{ log.channel }}</td>
                        <td>
                            <span class="badge badge-pill badge-{{ context }}">{{ log.level }}</span>
                        </td>
                        <td>{{ log.message }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4" class="text-center">
                            No logs available
                        </td>
                    </tr>
                {% endif %}
            </table>
            <div class="text-center">
                <ul class="pagination">
                    {% set page = app.request.get('page')|default(1) %}
                    {% set limit = app.request.get('limit')|default(100) %}
                    {% if page > 1 %}
                        <li>
                            <a href="{{ path('kmi_system_information_log_view', {'id':id , 'limit':app.request.get('limit')|default(100), 'page': page-1, 'level':app.request.get('level') }) }}" title="Vorherige">‹</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('kmi_system_information_log_view', {'id':id , 'limit':app.request.get('limit')|default(100), 'page': page, 'level':app.request.get('level') }) }}">{{ page }}</a>
                    </li>
                    {% if (page + 1) * limit < resultCount %}
                    <li>
                        <a href="{{ path('kmi_system_information_log_view', {'id':id , 'limit':app.request.get('limit')|default(100), 'page': page+1, 'level':app.request.get('level') }) }}" title="Nächste">›</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}